<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsocity.modules.system.mapper.SysOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fsocity.modules.system.entity.SysOperationLog">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="business_type" property="businessType" />
        <result column="method" property="method" />
        <result column="request_method" property="requestMethod" />
        <result column="operator_type" property="operatorType" />
        <result column="operator_name" property="operatorName" />
        <result column="department_name" property="departmentName" />
        <result column="url" property="url" />
        <result column="ip" property="ip" />
        <result column="location" property="location" />
        <result column="param" property="param" />
        <result column="result" property="result" />
        <result column="status" property="status" />
        <result column="error_msg" property="errorMsg" />
        <result column="operation_time" property="operationTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, business_type, method, request_method, operator_type, operator_name, department_name, url, ip, location, param, result, status, error_msg, operation_time
    </sql>

</mapper>
